body,div,p,html{margin:0;padding:0;}
#wd{
    font-size:24px;
    width:500px;
}

.gesture-panel{
    clear:both;
    margin:0 auto;
    border:1px solid #acb5da;
}
.gesture-panel .gesture-bg,
.gesture-panel .panel{
    position:absolute;
}
.gesture-panel .gesture-bg{
    z-index:-1;
}
.gesture-panel .gesture-bg p{
    font-family:"KaiTi","宋体";
    font-size:250px;
    width:450px;
    height:450px;
    line-height:450px;
    text-align:center;
    position:absolute;
    color:#f0f0f0;
}
.gesture-panel .gesture-bg .canvas-bg{
    position:absolute;
}

.gesture-result{
    margin:0 auto;
    width:450px;
    border:1px solid #acb5da;
    border-bottom:0;
    *zoom:1;
}
.gesture-result:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.gesture-result .words,
.gesture-result .btns{
    float:left;
}

.gesture-result .words{
    width:70%;
    height:24px;
}
.gesture-result a{
    color:#333;
    text-decoration:none;
    display:inline-block;
    text-align:center;
    line-height:24px;
}

.gesture-result .words a{
    font-size:16px;
    font-weight:bold;
    width:10%;
    border-right:1px solid #acb5da;
    margin-right:-1px;
}

.gesture-result .btns{
    width:30%;
}

.gesture-result .clear,
.gesture-result .undo{
    width:50%;
    border-left:1px solid #acb5da;
    margin-left:-1px;
    background-color:#dbe1f3;
}
